* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 110px;

    font-family: 'Ubuntu', sans-serif;
}

/*HEADER*/

header {
    position: fixed;
    top: 0;

    z-index: 4;

    width: 100%;
}

.wrapper-for-background-of-the-contact-social {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30px;

    background-color: #1A58DF;
}

.wrapper-for-background-of-the-contact-social .contact-and-social-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1250px;

    padding: 5px 0;
}

.wrapper-for-background-of-the-contact-social .contact-and-social-wrapper a {
    text-decoration: none;
    color: whitesmoke;
}

.wrapper-for-background-of-the-contact-social .contact-and-social-wrapper a:hover {
    color: rgb(129, 219, 255);
}

.wrapper-for-background-of-the-contact-social .contact-and-social-wrapper .contact {
    display: flex;
    gap: 20px;
}

.wrapper-for-background-of-the-contact-social .contact-and-social-wrapper .social {
    font-size: 1.3rem;
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80px;

    background-color: whitesmoke;
}

.menu-wrapper .menu-wrapper-max-size {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    max-width: 1250px;
}

.menu-wrapper .menu-wrapper-max-size .logo a img {
    display: block;
    height: 60px;
}

.menu-wrapper .menu-wrapper-max-size .sections {
    display: flex;
    gap: 20px;

    height: 100%;

    list-style: none;

    font-size: 1.2rem;
}

.menu-wrapper .menu-wrapper-max-size .sections > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-wrapper .menu-wrapper-max-size .sections li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.897);

    padding: 0 10px;

    background-color: black;
    border-radius: 20px;
}

.menu-wrapper .menu-wrapper-max-size .sections li a:hover {
    color: rgb(129, 219, 255);
}

.menu-wrapper .menu-wrapper-max-size .sections .section-sub-menu {
    position: relative;
}

.menu-wrapper .menu-wrapper-max-size .sections .section-sub-menu .sub-menu {
    position: absolute;
    top: 80px;
    left: -50%;

    display: none;

    list-style: none;

    -webkit-box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.6);

    border-radius: 20px;
}

.menu-wrapper .menu-wrapper-max-size .sections .section-sub-menu:hover .sub-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 0 10px 10px 10px;

    width: 300px;

    background-color: whitesmoke;
}

.menu-wrapper .menu-wrapper-max-size .sections .section-sub-menu:hover .sub-menu li {
    padding: 5px;
}

.menu-wrapper .menu-wrapper-max-size .sections .section-sub-menu:hover .sub-menu li:first-child {
    padding-top: 20px;
}

/* FIRST CONTENT SECTION (HOME) */

.first-content-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 850px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../first-content-section-items/background/sprinter-ladder.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-content-section-wrapper .first-content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;

    max-width: 1250px;
    width: 100%;
    height: 100%;
}

.first-content-section-wrapper .first-content-section .text-presentation h2 {
    font-size: 1.3rem;
    text-transform: none;
    text-align: center;

    display: flex;
    justify-content: center;

    color: whitesmoke;
}

.first-content-section-wrapper .first-content-section .buttons-info-and-contact {
    display: flex;
    gap: 30px;
}

.first-content-section-wrapper .first-content-section .buttons-info-and-contact a {
    padding: 0 10px;

    text-decoration: none;
    font-size: 1.5rem;
    color: whitesmoke;

    background-color: #1A58DF;
    border-radius: 20px;
}

.first-content-section-wrapper .first-content-section .buttons-info-and-contact a:hover {
    color: rgb(129, 219, 255);
    background-color: black;
    transition: 600ms;
}

/* SECOND CONTENT SECTION (HOME) */

.wrapper-for-info-wrapper {
    padding: 100px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../info-sections/background/Sprinter-1.jpeg);
    background-position: center;
    background-size: cover;
}

.wrapper-for-info-wrapper .info-wrapper {
    max-width: 1250px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wrapper-for-info-wrapper .info-wrapper .info-section {
    padding: 30px;

    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    text-align: center;

    background-color: rgba(245, 245, 245, 0.808);
}

.wrapper-for-info-wrapper .info-wrapper .info-section i {
    font-size: 2.5rem;
}

.wrapper-for-info-wrapper .info-wrapper .info-section a {
    padding: 10px 10px;

    font-size: 1rem;
    text-decoration: none;
    color: whitesmoke;

    background-color: black;
    border-radius: 30px;
}

.wrapper-for-info-wrapper .info-wrapper .info-section a:hover {
    color: rgb(129, 219, 255);
}

.wrapper-for-info-wrapper .info-wrapper .info-section a i {
    font-size: 1rem;
}

/* THIRD CONTENT SECTION -We-Section- (HOME) */

.wrapper-of-wrapper-we-section {
    width: 100%;

    display: flex;
    justify-content: center;
}

.wrapper-of-wrapper-we-section .we-section-on-start-page-wrapper {
    width: 100%;
    min-height: 700px;

    display: flex;
    gap: 50px;
}

.wrapper-of-wrapper-we-section .we-section-on-start-page-wrapper .we-section {
    flex: 1 1 0%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    padding-left: 60px;
}

.wrapper-of-wrapper-we-section .we-section-on-start-page-wrapper .we-section h3 {
    font-size: 1.5rem;

    color: rgba(0, 69, 219, 0.897);
}

.wrapper-of-wrapper-we-section .we-section-on-start-page-wrapper .we-section p {
    font-size: 1.3rem;
}

.wrapper-of-wrapper-we-section .we-section-on-start-page-wrapper .we-section a {
    width: fit-content;

    padding: 10px 10px;

    text-decoration: none;
    font-size: 1.2rem;

    border: 5px solid rgba(0, 69, 219, 0.897);

    color: rgba(0, 69, 219, 0.897);
}

.wrapper-of-wrapper-we-section .we-section-on-start-page-wrapper .img-wrapper {
    flex: 1 1 0%;
}

.wrapper-of-wrapper-we-section .we-section-on-start-page-wrapper .img-wrapper img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/* QUARTER CONTENT SECTION -Experience-section- (HOME) */

.wrapper-of-wrapper-experience-section {
    width: 100%;

    display: flex;
    justify-content: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../quarter-content-section-items/background/Sprinter.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper-of-wrapper-experience-section .wrapper-of-experience-section {
    display: flex;

    width: 100%;
    max-width: 1250px;
    min-height: 700px;

    padding: 60px 0;
}

.wrapper-of-wrapper-experience-section .wrapper-of-experience-section .experience-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    color: whitesmoke;
}

.wrapper-of-wrapper-experience-section .wrapper-of-experience-section .experience-section .experience-section-info {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.wrapper-of-wrapper-experience-section .wrapper-of-experience-section .experience-section .experience-section-info p {
    font-size: 1.2rem;
}

.wrapper-of-wrapper-experience-section .wrapper-of-experience-section .experience-section .experience-section-icons {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper-of-wrapper-experience-section .wrapper-of-experience-section .experience-section .experience-section-icons .icons-column {
    display: flex;
}

.wrapper-of-wrapper-experience-section .wrapper-of-experience-section .experience-section .experience-section-icons .icons-column .experience-icon {
    flex: 1 1 0%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    font-size: 1rem;
}

.wrapper-of-wrapper-experience-section .wrapper-of-experience-section .experience-section .experience-section-icons .icons-column .experience-icon.puzzle {
    position: relative;
}

.wrapper-of-wrapper-experience-section .wrapper-of-experience-section .experience-section .experience-section-icons .icons-column .experience-icon.puzzle i {
    position: absolute;
    top: 20px;
    right: 180px;
}

.wrapper-of-wrapper-experience-section .wrapper-of-experience-section .experience-section .experience-section-icons .icons-column .experience-icon .circle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 96px;
    height: 96px;

    border: 2px solid rgb(27, 190, 255);
    border-radius: 50%;
}

.wrapper-of-wrapper-experience-section .wrapper-of-experience-section .experience-section .experience-section-icons .icons-column .experience-icon i {
    font-size: 3rem;

    color: rgb(27, 190, 255);
}

/* COMPONENT: SECTION TITLE */

.section-title {
    position: relative;

    padding-top: 56px;
}

.section-title .section-title--overlapped-title {
    position: absolute;
    top: 0;

    margin: 0;

    text-transform: uppercase;

    font-size: 5.5rem;

    color: rgba(163, 163, 163, 0.288);
}

.section-title .section-title--title {
    position: relative;
    z-index: 2;

    margin: 0;

    font-size: 2.5rem;

    color: black;
}

.section-title.white-version .section-title--title {
    color: whitesmoke;
}

/* FIFTH SECTION    QUALITY COMPANY SECTION (HOME) */

.quality-company-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 600px;
}

.quality-company-wrapper .quality-company-section {
    width: 100%;
    max-width: 1250px;
}

.quality-company-wrapper .quality-company-section .title-quality-company-section {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 50px;

    font-size: 1.3rem;
}

.quality-company-wrapper .quality-company-section .quality-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.quality-company-wrapper .quality-company-section .quality-blocks .quality-block-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality-company-wrapper .quality-company-section .quality-blocks .quality-block-wrapper .quality-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.quality-company-wrapper .quality-company-section .quality-blocks .quality-block-wrapper .quality-block .logo-quality {
    padding: 20px;

    font-size: 2rem;
    color: whitesmoke;

    background-color: #1A58DF;

    border-radius: 50%;
}

.quality-company-wrapper .quality-company-section .quality-blocks .quality-block-wrapper .quality-block .logo-quality:hover {
    padding: 20px;

    font-size: 2rem;
    color: rgb(27, 190, 255);

    background-color: black;

    border-radius: 50%;

    transition: 1000ms;
}

.quality-company-wrapper .quality-company-section .quality-blocks .quality-block-wrapper .quality-block .quality h1 {
    font-size: 1.5rem;
}

.quality-company-wrapper .quality-company-section .quality-blocks .quality-block-wrapper .quality-block .quality p {
    font-size: 1.1rem;
}

/* SIXTH SECTION    FINAL MESSAGE (HOME) */

.final-mesagge-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 300px;

    background-color: #1e49a5;
}

.final-mesagge-wrapper .final-mesagge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    width: 100%;
    max-width: 1250px;
}

.final-mesagge-wrapper .final-mesagge .final-mesagge-block {
    flex: 1 1 0%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;

    color: whitesmoke;
}

.final-mesagge-wrapper .final-mesagge .final-mesagge-block:first-child h1 {
    font-size: 2.5rem;

    color: rgba(245, 245, 245, 0.466);
}

.final-mesagge-wrapper .final-mesagge .final-mesagge-block p {
    font-size: 1.1rem;
}

.final-mesagge-wrapper .final-mesagge .final-mesagge-block h1 {
    font-size: 1.8rem;
}

.final-mesagge-wrapper .final-mesagge .final-mesagge-block h2 {
    font-size: 1.8rem;
}

.final-mesagge-wrapper .final-mesagge .final-mesagge-block a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 10px 60px;

    text-decoration: none;
    font-size: 1.5rem;
    color: whitesmoke;
    border: 5px solid rgba(27, 190, 255, 0.685);
    border-radius: 50px;
}

/* FOOTER */

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 100%;

    background-color: rgb(20, 20, 20);
}

.footer-wrapper .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    padding-top: 60px;

    width: 100%;
    max-width: 1250px;
}

.footer-wrapper .footer .footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;

    width: 100%;

    color: rgb(146, 146, 146);
}

.footer-wrapper .footer .footer-logo div img {
    width: 100%;
    height: 60px;
}

.footer-wrapper .footer .footer-logo p {
    font-size: 0.9rem;
}

.footer-wrapper .footer .footer-logo a {
    text-decoration: none;

    color: rgb(206, 206, 206);
}

.footer-wrapper .footer .helpful-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;

    width: 100%;

    color: rgb(146, 146, 146);
}

.footer-wrapper .footer .helpful-links h1 {
    font-size: 1.5rem;
}

.footer-wrapper .footer .helpful-links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    list-style: none;
}

.footer-wrapper .footer .helpful-links ul li a {
    text-decoration: none;

    color: whitesmoke;
}

.footer-wrapper .footer .footer-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;

    width: 100%;

    color: rgb(146, 146, 146);
}

.footer-wrapper .footer .footer-services h1 {
    font-size: 1.5rem;
}

.footer-wrapper .footer .footer-services ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style: none;
}

.footer-wrapper .footer .footer-services ul li a {
    text-decoration: none;

    color: whitesmoke;
}

.footer-wrapper .footer .footer-map {
    width: 100%;
}

.footer-wrapper .footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;

    width: 100%;
    max-width: 1250px;

    color: whitesmoke;
}

.footer-wrapper .footer-copyright div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-wrapper .footer-copyright ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    list-style: none;
}

.footer-wrapper .footer-copyright ul li a {
    text-decoration: none;

    color: whitesmoke;
}